@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.contact-header h1 {
  color: #ffffff;
}

.add-contact {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.btn {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px #aaa;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.page-title {
  float: left;
  margin: 1rem 2rem;
}

.list {
  display: block;
  margin: 70px;
}
.contact-list {
  margin-top: 15px;
  width: 30%;
  min-width: 30%;
  box-shadow: 0 0 5px #aaa;
  border-radius: 5px;
}

.contact-list ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.contact-list:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #409aff;
}

li {
  list-style: none;
  display: flex;
  justify-content: center;
}
.ant-card-body {
  padding: 5px;
}
svg {
  height: 50px;
  width: 50px;
  color: #40a9ff;
}
