@import "~antd/dist/antd.css";

.contact-header h1 {
  color: #ffffff;
  text-align: center;
}

.add-contact {
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}

.btn {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 2px #aaa;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.list-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
.contact-details {
  margin: 1rem 2rem;
}
.new-contact {
  margin: 1rem 2rem;
}
.contact-list {
  box-shadow: 0 0 5px #aaa;
  border-radius: 5px;
}

.contact-list:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #409aff;
}

.contact {
  text-align: center;
}

/* .details {
  position: fixed;
} */
ul {
  margin-right: 0;
  width: 300px;
}

li {
  list-style: none;
  margin: 1rem 0;
}
.ant-card-body {
  padding: 15px;
}
svg {
  height: 50px;
  width: 50px;
  color: #40a9ff;
}
